body{
    
    background-color: rgb(62, 62, 62);
    color: white;
    font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.Anime{
    background-color: rgb(82, 80, 80);;
    width: 800px;
    height: 1000px;
    text-align: center;
    margin: 0 auto;
    


}

.video{
  width: 700px;
  padding-top: 300px;
}
.sled{
    text-decoration: none;
    color: white;
    margin-left: 500px;
}